{% extends 'base.html.twig' %}



{% block body %}

<main style="height: auto;">
    <div class="contain-flex">
        <div class="form-profil">


            <div class="photo">
                {% if userPhoto is empty %}
                    <img src="{{ asset('assets/img/photo_null.png') }}" alt="Photo de profil non renseignée" height="75" width="75">
                {% else %}
                    <img src="{{ asset('uploads/photos/' ~ userPhoto) }}" alt="Photo de profil" height="75" width="75">
                {% endif %}
            </div>


            {{ form_start(form) }}

            <div class="form-modif">
                <div class="profil-title">
                    <h1>Profil</h1>
                </div>
                <div class="form-errors">

                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>

                    <ul>
                        {% for error in form.vars.errors.form.getErrors(true) %}
                            <li>{{ error.message }}</li>
                        {% endfor %}

                        {% if messagePassword is defined %}
                            {{ messagePassword }}
                        {% endif %}
                    </ul>

                </div>



                <div class="row">
                    <div class="group col">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {'attr': {'class': 'input-form'}}) }}
                    </div>
                    <div class="group col">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'input-form'}}) }}
                    </div>
                    <div class="group col">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname, {'attr': {'class': 'input-form'}}) }}
                    </div>
                    <div class="group col">
                        {{ form_label(form.mail) }}
                        {{ form_widget(form.mail, {'attr': {'class': 'input-form'}}) }}
                    </div>
                    <div class="group col">
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone, {'attr': {'class': 'input-form'}}) }}
                    </div>
                    <div class="group col">
                        {{ form_label(form.site) }}
                        {{ form_widget(form.site, {'attr': {'class': 'input-form'}}) }}
                    </div>
                    <div class="group col">
                        {{ form_label(form.photo) }}
                        {{ form_widget(form.photo) }}
                    </div>

                </div>
                {{ form_end(form) }}
            </div>

            <div class="form-password">
                <div class="row">
                    <form method="post">

                        <div class="profil-title">
                            <h1>Mot de passe</h1>
                        </div>

                        <div class="form-display">
                            <label for="password" style="width: 50%">Nouveau mot de passe : </label><br>
                            <input class="input-form" type="password" name="password"><br>
                        </div>

                        <div class="form-display"><br>
                            <label for="confirmPassword">Confirmation mot de passe : </label><br>
                            <input class="input-form" type="password" name="confirmPassword"><br>
                        </div>


                        <input type="submit" name="submitPassword" value="Valider">
                    </form>
                </div>
            </div>


        </div>
    </div>
</main>



{% endblock %}