{% extends 'base.html.twig' %}



{% block body %}

<main style="height: auto;">
    <div class="contain-flex">
        <div class="form-profil">

            {{ form_start(form) }}


            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    <ul>
                        {% for error in form.vars.errors.form.getErrors(true) %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if messagePassword is not empty %}
                <div class="alert alert-{{ messagePassword.type }}">
                    <ul>
                        <li>{{ messagePassword.message }}</li>
                    </ul>
                </div>
            {% endif %}



            <div class="form-modif">
                <div class="profil-title">
                    <h1>Profil</h1>
                </div>

                <div class="photo">
                    {% if userPhoto is empty %}
                        <img src="{{ asset('assets/img/no_photo.jpg') }}" alt="Photo de profil non renseignée" height="75" width="75">
                    {% else %}
                        <img src="{{ asset('uploads/photos/' ~ userPhoto) }}" alt="Photo de profil" height="75" width="75">
                    {% endif %}
                </div>




                <div class="container profil-container" style="width: 60%">

                    <div class="row">

                        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username, {'attr': {'class': 'input-form form-control'}}) }}
                        </div>
                        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name, {'attr': {'class': 'input-form form-control'}}) }}
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            {{ form_label(form.lastname) }}
                            {{ form_widget(form.lastname, {'attr': {'class': 'input-form form-control'}}) }}
                        </div>
                        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            {{ form_label(form.mail) }}
                            {{ form_widget(form.mail, {'attr': {'class': 'input-form form-control'}}) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            {{ form_label(form.telephone) }}
                            {{ form_widget(form.telephone, {'attr': {'class': 'input-form form-control'}}) }}
                        </div>
                        <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            {{ form_label(form.site) }}
                            {{ form_widget(form.site, {'attr': {'class': 'input-form form-control'}}) }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.photo, "Choisir une photo : ",  { 'attr': { 'class' : 'input-label' } }) }}
                        {{ form_widget(form.photo) }}
                    </div>
                    <div class="form-group btn-container">
                        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary col col-sm-4 offset-4'}}) }}
                    </div>

                </div>
                {{ form_end(form) }}
            </div>



            <div class="container profil-container" style="width: 60%">
                <form method="post">

                    <div class="profil-title">
                        <h1>Mot de passe</h1>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="password">Nouveau mot de passe : </label>
                            <input class="form-control input-form" type="password" name="password">
                        </div>

                        <div class="col">
                            <label for="confirmPassword">Confirmation mot de passe : </label>
                            <input class="form-control input-form" type="password" name="confirmPassword">
                        </div>
                    </div>

                    <div class="row btn-container">
                        <input class="btn btn-primary col col-sm-4 offset-4 " type="submit" name="submitPassword" value="Modifier">
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>



{% endblock %}