{% extends 'base.html.twig' %}



{% block body %}
    <h2>Profil</h2>


    {% for children in form.children %}
        {% if children.vars.errors is defined %}
            {% for error in children.vars.errors %}
                {#{{ dump(children) }}#}
                {#{{ dump(error) }}#}
                {{ dump(children.vars.name ~ ': ' ~ error.message) }}
            {% endfor %}
        {% endif %}
    {% endfor %}


    {{ form(form) }}








 {#   {{ form(formPassword) }}#}

    {#<form method="post">

        <h2>Mot de passe</h2>

        <label for="password">Nouveau mot de passe : </label>
        <input type="password" name="password"><br>

        <label for="confirmPassword">Confirmation mot de passe : </label>
        <input type="password" name="confirmPassword"><br>

        <input type="submit" name="submitPassword" value="Valider">

    </form>#}




{% endblock %}