{% extends 'base.html.twig' %}

 {% block body %}
  <h1>Acceuil</h1>

  <div class="tableau_sortie" style="width:1300px; height:500px; overflow:auto;" >
   <table class="sorties" cellspacing="0" cellpadding="1" border="1" width="1000">
    <tr>
     <td>Nom de la sortie</td>
     <td>Date de la sortie</td>
     <td>Cloture</td>
     <td>Inscrits/place</td>
     <td>Etat</td>
     <td>Inscrit</td>
     <td>Organisateur</td>
     <td>Action</td>
    </tr>

    {% if listeDesSorties is defined %}

      {% for sortie in listeDesSorties %}
          <!-- informations sur les sorties-->
      <tr>
       <td> {{ sortie.nom }}</td>
       <td> {{ sortie.dateHeureDebut|date('m:d:Y:H:i') }}</td>
       <td> {{ sortie.dateLimiteInscription|date('m:d:Y') }}</td>

         {% for key, participant in nombreParticipant %}
           {% if(key == sortie.id) %}
               <td>  {{ participant }} / {{ sortie.nbInscriptionMax }} </td>
            {% endif %}
        {% endfor %}

       <td>{{ sortie.etat }}</td>

          <!-- Savoir la ou je participe-->
          {% if maliste is defined %}

            {% for masortie in maliste %}

                {% if(sortie.id == masortie) %}
                     <td>+</td>
                {% endif %}

          {% else %}
                <td></td>
            {% endfor %}

          {% endif %}

          <!-- Les organisateur -->
                    <td><a href="{{ path('public_account'                                                                                                                      , {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.username }} </a></td>

          {%  if app.user %}
            {% if maliste is defined %}
              {% for masortie in maliste %}
                 {% if(sortie.organisateur.id == masortie) %}
                    <td>
                        <a href="{{ path('sortie_update') }}">Modfier</a>
                        <a href="{{ path('sortie_delete') }}">Annuler</a>

                        {% if masortie.etat == "Créée" %}
                            <a href="">Publier</a>
                        {% endif %}
                    </td>
                 {% elseif (sortie.id == masortie) %}
                    <td>
                        <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}">Afficher</a>
                        <a href="{{ path('sortie_desistement') }}">Desinscription</a>
                    </td>
                 {% else %}

                     <td>
                         <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}">Afficher</a>
                         <a href="{{ path('sortie_inscrire') }}">s'inscrire</a>
                     </td>

                 {% endif %}

              {% endfor %}
            {% else %}
                <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}">Afficher</a>
                <a href="{{ path('sortie_inscrire') }}">s'inscrire</a>
             {% endif %}

        {% else %}
            <td>
                <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}">Afficher</a>
            </td>
        {% endif %}

      </tr>

      {% endfor %}
    {% endif %}


   </table>
  </div>

     <a href='{{ path('sortie_create') }}'><button>Create Sortie</button></a>

 {% endblock %}

