{% extends 'base.html.twig' %}

 {% block body %}

<div id="url" data-path="{{ path('index_select') }}">

<div class="container">

    <h1>Acceuil</h1>

    <h2>Filtrer les sorties</h2>
    {{ form_start(searchAccueilForm)}}
    <table>
        <tr>
    <td>  {{ form_row(searchAccueilForm.site)}}
         {{ form_row(searchAccueilForm.motCle)}}
        {#  {{ form_row(searchAccueilForm.startDateTime)}}#}

    </td>
    <td>  {{ form_widget(searchAccueilForm.organisateur )}} {{ form_label(searchAccueilForm.passees, "Sortie dont je suis l'organisateur/trice") }}<br>
      {{ form_widget(searchAccueilForm.inscrite )}} {{ form_label(searchAccueilForm.passees, 'Sorties auxquelles je suis inscrit/e') }}<br>
      {{ form_widget(searchAccueilForm.pasInscrite) }} {{ form_label(searchAccueilForm.passees, 'Sorties auxquelles je ne suis pas inscrite') }}<br>
      {{ form_widget(searchAccueilForm.passees) }} {{ form_label(searchAccueilForm.passees, 'Sorties passées') }}
    </td>
            <td>
    {#<button class="btn btn-success id='rechercher'>Rechercher</button>#}
            </td>
    </tr>
    </table>

    {{ form_end(searchAccueilForm) }}

    <table class="table">

        <thead>
            <tr style="background-color: #dfe6e9">
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Cloture</th>
                <th scope="col">Inscrits/plac</th>
                <th scope="col">Etat</th>
                {% if app.user %}
                    <th scope="col">Inscrit</th>
                {% endif %}
                <th scope="col">Organisateur</th>
                <th scope="col">Action</th>
            </tr>
        </thead>


    {% if listeDesSorties is defined %}

        {% for sortie in listeDesSorties %}

            <!-- informations sur les sorties-->
            <tr>
                <th> {{ sortie.nom | capitalize }}</th>
                <th> {{ sortie.dateHeureDebut|date('d-m-Y') }}<br>
                    {{ sortie.siteOrganisateur.nom }}</th>
                <th> {{ sortie.dateLimiteInscription|date('d-m-Y') }}</th>

                {% for key, participant in nombreParticipant %}
                    {% if(key == sortie.id) %}
                        <th>  {{ participant }} / {{ sortie.nbInscriptionMax }} </th>
                    {% endif %}
                {% endfor %}

                <th>{{ sortie.etat }}</th>

          <td><a href="{{ path('public_account', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.username }} </a> </td>
          <td>
                  {% if(sortie.etat.libelle == "Créée") %}
                      <a href="{{ path('sortie_update', {'id' : sortie.id}) }}">Modfier</a>
                  {% else %}
                      <a href="{{ path('sortie_update', {'id' : sortie.id}) }}">Annuler</a>
                  {% endif %}


              <a href="">Publier</a>
                {% if app.user %}
                    <!-- Savoir la ou je participe-->
                    {% if maliste is defined %}

                        {% for key, maSortie in maliste if maSortie.id == sortie.id %}
                            <th class="strong" style="color: forestgreen;">oui</th>
                        {% else %}
                            <th class="strong" style="color: orange">non</th>
                        {% endfor %}

                    {% else %}
                        <th></th>
                    {% endif %}
                {% endif %}


                <!-- Les organisateur -->
                <th><a href="{{ path('public_account', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.username }} </a> </th>
                <th>

                <a href="{{ path('sortie_detail', {'id' : sortie.id}) }}">Afficher</a>

                {% if app.user %}

                    {% if maliste is defined %}

                        {% for key, maSortie in maliste if maSortie.id == sortie.id %}
                            <a href="{{ path('sortie_desistement', {'idSortie' : sortie.id, 'idParticipant' : app.user.id}) }}">Désinscription</a>
                        {% else %}
                            <a href="{{ path('sortie_inscrire', {'idSortie' : sortie.id, 'idParticipant' : app.user.id}) }}">s'inscrire</a>
                        {% endfor %}
                    {% endif %}


                    {% if sortie.organisateur.id == app.user.id %}
                        <a href="{{ path('sortie_update', {'id' : sortie.id}) }}">Modfier</a>
                        <a href="{{ path('sortie_update', {'id' : sortie.id}) }}">Annuler</a>
                        <a href="">Publier</a>
                    {% endif %}
                {% endif %}

                </th>
            </tr>
        {% endfor %}
    {% endif %}
    </table>

    {#TODO paginator pour l'affichage de la liste des sorties#}
    {% if app.user %}
    <a href='{{ path('sortie_create') }}'><button class="btn btn-primary">Créer une sortie</button></a>
    {% endif %}
</div>
{% endblock %}

