{% extends 'base.html.twig' %}

 {% block body %}
<div id="url" data-path="{{ path('site_update') }}">
     <h1>Gérer les sites</h1>
     <h3>Filtrer les sites</h3>
     <p>formulaire de rechercher à faire</p>

     <button class="btn btn-success">Rechercher</button>



     <table border
            class="table table-striped">

         <tr>
             <th>Ville</th>
             <th>Action</th>
         </tr>
         {% for site in sitesList %}
             <tr>
                 <td class="siteNom" id="nom-{{ site.id }}"><span id="nomSite{{ site.id }}">{{ site.nom}}</td>
                 <td><button class="button_modifier" id="{{ site.id}}" >Modifier</button>
                     <button class="buttonMAJ" id="{{ site.id}}" style ="display :none;">Mettre à jour</button> -
                     <a class="btn btn-error" href={{ path('site_delete',{'id' : site.id}) }}>Supprimer</a>
                 </td>
             </tr>
         {% endfor %}
         <tr>

             {{ dump(siteForm) }}
             {{ form_start(siteForm)}}
             <td>  {{ form_row(siteForm.nom,{'label':false}) }}</td>

             <td><button class="btn btn-success">Ajouter</button></td>
             {{ form_end(siteForm) }}
         </tr>

     </table>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('assets/js/site.js') }}">   </script>
    {% endblock %}
