{% extends 'base.html.twig' %}

 {% block body %}
<div id="url" data-path="{{ path('ville_update') }}">
     <h1>Gérer les villes</h1>
     <h3>Filtrer les villes</h3>
     <p>formulaire de rechercher à faire</p>

     <button class="btn btn-success">Rechercher</button>



     <table border
            class="table table-striped">

         <tr>
             <th>Ville</th>
             <th>Code postal</th>
             <th>Action</th>
         </tr>
         {% for ville in villesList %}
             <tr class="listeVille" id="liste-ville-{{ ville.id }}">
                 <td class="villeNom" id="nom-{{ ville.id }}"><span id="nomVille{{ ville.id }}">{{ ville.nom}}</span></td>
                 <td class="villeCodePostal" id="code-postal-{{ ville.id }}"><span id="codeVille{{ ville.id }}">{{ ville.codePostal}}</span></td>
                 <td class="action">
                     <button class="button_modifier" id="{{ ville.id}}" >Modifier</button>
                     <button class="buttonMAJ" id="{{ ville.id}}" >Mettre à jour</button>

                     -
                     <a class="btn btn-success" href={{ path('ville_delete',{'id' : ville.id}) }}>Supprimer</a>
                 </td>
             </tr>
         {% endfor %}
         <tr>
             {{ form_start(villeForm)}}
             <td>  {{ form_row(villeForm.nom,{'label':false}) }}</td>
             <td>  {{ form_row(villeForm.codePostal,{'label':false}) }}</td>
             <td><button class="btn btn-success">Ajouter</button></td>
             {{ form_end(villeForm) }}
         </tr>
         {% if(formUpdate is defined) %}
         <tr>
             {{ form_start(formUpdate)}}
             <td>  {{ form_row(formUpdate.nom,{'label':false}) }}</td>
             <td>  {{ form_row(formUpdate.codePostal,{'label':false}) }}</td>
             <td><button class="btn btn-success">Modifier</button></td>
             {{ form_end(formUpdate) }}
         </tr>
         {% endif %}
     </table>
</div>

 {% endblock %}


    {% block javascripts %}
        <script src="{{ asset('assets/js/app.js') }}"></script>
    {% endblock %}
