{% extends 'base.html.twig' %}

 {% block body %}
     <div class="container">
         {% if app.user %}
             {% if maliste is defined %}

                 {% for key, maSortie in maliste if maSortie.id == sortie.id %}
                     <a href="{{ path('sortie_desistement', {'idSortie' : sortie.id, 'idParticipant' : app.user.id}) }}">Désinscription</a>
                 {% else %}
                     <a href="{{ path('sortie_inscrire', {'idSortie' : sortie.id, 'idParticipant' : app.user.id}) }}">s'inscrire</a>
                 {% endfor %}
             {% endif %}

         {% endif %}
         <h1 >Nom de la sortie : {{ sortie.nom }}</h1>
         <div>Date et heure de la sortie :{{ sortie.dateHeureDebut|date('m:d:Y:H:i') }}</div>
         <div class="infor_sortie">
             <div>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('m:d:Y') }}</div>
             <div>Nombre de place : {{ sortie.nbInscriptionMax }}</div>
             <div>Durée : {{ sortie.duree|date('H:i') }}</div>
         </div>
     </div>
     <div class="container">
         <div>Description et info : {{ sortie.infosSortie }}</div>
     </div>

     <div class="container">
         <div class="row">
             <div class="col-sm-6">
                 Ville organisatrice : {{ sortie.lieu.ville.nom }}
             </div>
             <div class="col-sm-6">
                 Lieu : {{ sortie.lieu.nom }}
             </div>
         </div>
         <div class="row">
             <div class="col-sm-6">
                 Rue : {{ sortie.lieu.rue }}
             </div>
             <div class="col-sm-6">
                 Code postal : {{ sortie.lieu.ville.codepostal }}
             </div>
         </div>
         <div class="row">
            <div id="lat" class="col">
                 {{ sortie.lieu.latitude }}
             </div>

             <div id="long" class="col">
                 {{ sortie.lieu.longitude }}
             </div>
        </div>

     </div>

     <!-- Map -->
     <div class="container">
         <div class="row">
             <div class="col-sm-6">
                 <div class="map">
                     <h3>Où touver</h3>
                     <div id="Divmap"> </div>
                 </div>
             </div>
             <div class="col-sm-6">
                 <h3>Qui participe</h3>
                 <div class="tableau_participant" style="width:500px; height:300px; overflow:auto;">
                     <table class="participant" cellspacing="0" cellpadding="1" border="1" width="500">
                         <tr>
                             <td>Pseudo</td>
                             <td>email</td>
                         </tr>

                         {% if participants != null %}
                         {% for participant in participants.users %}

                             <tr>

                                 <td><a href="{{ path('public_account', {'id' : participant.id}) }}">{{ participant.username}}</a></td>
                                 <td>{{ participant.mail }}</td>

                             </tr>
                         {% endfor %}
                         {% endif %}
                     </table>
                 </div>
             </div>

         </div >


     </div>




 {% endblock %}