
{#<div class="footer">
    <div class="footer-right">test footer gauche</div>
    <div>test footer centre</div>
    <div class="footer-left">Test footer droit</div>
</div>#}


{% block javascripts %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ asset('assets/lib/bootstrap-4.3.1-dist/js/bootstrap.js') }}"></script>
    <script src="{{ asset('assets/lib/bootstrap-4.3.1-dist/js/bootstrap.bundle.js') }}"></script>

    <script src="{{ asset('assets/js/index.js') }}"></script>

    <link rel="stylesheet" href={{ asset("js/sdk-2d/GpSDK2D.js") }} />
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>


    <script type="text/javascript" src="{{ asset('js/map.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/sortie.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>

    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/map.js') }}"></script>

{% endblock %}


