<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('assets/style.css') }}">

        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('assets/css/index.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/lib/bootstrap-4.3.1-dist/css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/lib/bootstrap-4.3.1-dist/css/bootstrap-grid.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/lib/bootstrap-4.3.1-dist/css/bootstrap-reboot.css') }}" rel="stylesheet" />


    </head>

    <body style="margin: 0;padding: 0;">
        {% include 'default/partials/header.html.twig' %}

        {% block body %}{% endblock %}
        {% include 'default/partials/footer.html.twig' %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
