{% extends 'base.html.twig' %}

{% block body %}


    <h2>{{ user.username }}</h2>
    <div class="block-profil">
        <div>Prénom : {{ user.name ? user.name : 'non renseigné' }} </div>
        <div>Nom : {{ user.lastname ? user.lastname : 'non renseigné' }}</div>
        <div>Téléphone : {{ user.telephone ? user.telephone : 'non renseigné' }}</div>
        <div>E-mail : {{ user.mail ? user.mail : 'non renseigné' }}</div>
        <div>Ville de ratachement : {{ user.site ? user.site.nom : 'non renseigné' }}</div>
    </div>

   <a href="{{ path('index') }}">Retour</a>


{% endblock %}